{% extends 'oscar/basket/partials/basket_content.html' %}
{% load i18n %}

{% block formactions %}
<div class="form-actions clearfix">
    <a href="{% url 'checkout:index' %}" class="pull-right btn btn-large btn-primary">{% trans "Proceed to checkout" %}</a>
    <p class="pull-right text-muted"> &nbsp; OR &nbsp;</p>
	{% if anon_checkout_allowed or request.user.is_authenticated %}
        {% if basket.total_excl_tax > 0 %}
            <a href="{% url 'paypal-redirect' %}" class="pull-right"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></a>
        {% endif %}
	{% endif %}
</div>
{% endblock formactions %}