{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load category_tags %}
{% load i18n %}


{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set OSCAR_USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container-fluid">
            {% include "partials/nav_primary.html" %}
    </header>

 <div class="navbar1 primary navbar-static-top" style="background-color: rgba(30,66,120,1) !important;">
    <div class="container-fluid">
        <!--<div class="navbar-header pull-right">-->
        <!--    {# This is used in mobile view #}-->
        <!--    <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".primary-collapse">-->
        <!--        <i class="glyphicon glyphicon-align-center" style="color:white;"></i>-->
        <!--    </a>-->
        <!--</div>-->

        {% include 'partials/nav_custom.html' %}
    </div>
</div><!-- /navbar -->


<div id="my-pics" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ol class="carousel-indicators" style="position relative; left: 29.75%;">
<li data-target="#my-pics" data-slide-to="0" class="active"></li>
<li data-target="#my-pics" data-slide-to="1"></li>
</ol>

<!-- Content -->
<div class="carousel-inner" role="listbox">

<!-- Slide 1 -->
<div class="item active">
<a href="/"><img class="img-responsive" src="{% static 'me/KCCS-Ad-SpareParts_1920px.png' %}" alt="Kccs Tech iphone parts image"></a>
</div>

<!-- Slide 2 -->
<div class="item">
<a href=""><img class="img-responsive" src="{% static 'me/KCCS-Ad-WeBuyCracked_1920px.png' %}" alt="Kccs Tech We buy Cracked screen image"></a>
<!--<div class="carousel-caption text-left">-->
<!--                <p><a class="btn btn-default" href="" role="button">Check out the new arrivals!</a></p>-->
<!--              </div>-->
</div>
</div>

<!-- Previous/Next controls -->
<a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
<span class="icon-prev" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
<span class="icon-next" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>

</div>

<div style="margin-top: -40px; padding-bottom: 10px !important; padding-top: 10px;background-color: rgba(30,66,120,1);">
    <div class="container">
  <div class="row">
    <div class="col-md-4" id="padding">
        <img src="{% static 'me/delivery-truck.svg' %}" style="height: 50px; width: 50px; text-align:center;">
            <div style="margin-left: 15px;  display:inline-block; vertical-align:middle; text-align:left;">
                <div style="color:white !important;">SAME DAY SHIPPING FOR US</div>
                <div style="color:white !important;">free shipping on all orders above $500</div>
            </div>
    </div>
    <div class="col-md-4" id="padding">
        <img src="{% static 'me/money-back.svg' %}" style="height: 50px; width: 50px; text-align:center;">
            <div style="margin-left: 15px;  display:inline-block; vertical-align:middle; text-align:left;">
                <div style="color:white !important;">BUY BACK PROGRAM</div>
                <div style="color:white !important;">Trade in your Screens/devices and earn today</div>
            </div>
    </div>
    <div class="col-md-4" id="padding">
        <img src="{% static 'me/support.svg' %}" style="height: 50px; width: 50px; text-align:center;">
            <div style="margin-left: 15px;  display:inline-block; vertical-align:middle; text-align:left;">
                <div style="color:white !important;">ON DEMAND SUPPORT</div>
                <div style="color:white !important;">Fast responses and resolutions to all problems</div>
            </div>
    </div>
  </div>
  </div>
</div>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}
                {% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}