{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set OSCAR_USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}
    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container-fluid">
        {% block navigation %}
            {% include "partials/nav_primary.html" %}
        {% endblock %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                <div class="nav-me-2 " id="mini-me" style="background-color: rgba(30,66,120,1) !important; transition: all 2s !important; margin-top: 10px">
                    <div class="shift-me-right"><i id="bar-tog-me-2" class="fas fa-bars snd-bar-me" onclick="togMe2()"></i></div>
                    <div class="container-flex-me-two" style="width: 100%;">

                      <div class="dropdown-item flex-grow-me-md-inv center-flex-me color-blue-me">
                        <div>Apple</div>
                        <div class="dropdown-menu" id="toggleDropDown" style="position: absolute; top: 255px; left: 22%; transform: translateX(-50%);">
                          <div class="dropdown-menu-column">
                            <div class="dropdown-menu-column-header">Hello</div>
                            <div class="dropdown-menu-column-item">Item</div>
                          </div>
                          <div class="dropdown-menu-column">
                            <div class="dropdown-menu-column-header">Hello</div>
                            <div class="dropdown-menu-column-item">Item</div>
                            <div class="dropdown-menu-column-item">Item</div>
                            <div class="dropdown-menu-column-item">Item</div>
                          </div>
                          <div class="dropdown-menu-column">
                            <div class="dropdown-menu-column-header">Hello</div>
                            <div class="dropdown-menu-column-item">Item</div>
                          </div>
                        </div>
                      </div>

                        <div class="flex-grow-me-md-inv center-flex-me color-blue-me">Samsung</div>
                        <div class="flex-grow-me-md-inv center-flex-me color-blue-me">LG</div>
                        <div class="dropdown-item flex-grow-me-md-inv center-flex-me color-blue-me">
                          <div>Motorola</div>
                          <div class="dropdown-menu" id="toggleDropDown" style="position: absolute; top: 255px; left: 50%; transform: translateX(-50%);">
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                          </div>
                        </div>
                        <div class="flex-grow-me-md-inv center-flex-me color-blue-me">Others</div>
                        <div class="flex-grow-me-md-inv center-flex-me color-blue-me">Equipment</div>
                        <div class="dropdown-item flex-grow-me-md-inv center-flex-me color-blue-me">
                          <div>Accessories</div>
                          <div class="dropdown-menu" id="toggleDropDown" style="position: absolute; top: 255px; left: 76%; transform: translateX(-50%);">
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                            <div class="dropdown-menu-column">
                              <div class="dropdown-menu-column-header">Hello</div>
                              <div class="dropdown-menu-column-item">Item</div>
                              <div class="dropdown-menu-column-item">Item</div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <br><br>
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
    <script>
        $('.carousel-me').slick();
        function togMe2(){
            var element = document.getElementById("mini-me");
            element.classList.toggle('minimize-me');
            console.log('hello')
        }
    </script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}