{% extends "layout.html" %}
{% load i18n %}
{% load promotion_tags %}
{% load category_tags %}
{% load staticfiles %}

{% block layout %}
{% include 'partials/nav_accounts.html' %}
<header class="header container-fluid">
        <div style="margin-bottom:20px;">
        {% block navigation %}
            {% include "partials/nav_primary.html" %}
        {% endblock %}
        </div>
</header>
<div class="navbar1 primary navbar-static-top" style="background-color: rgba(30,66,120,1) !important;")>
    <div class="container-fluid">
        {% include "partials/nav_custom.html" %}
    </div>
</div>

    <header class="header container-fluid">
        <div class="page_inner">
        {% block checkout_nav %}{% endblock %}
    </header><!-- /header -->

    <div class="container-fluid page">
       <div class="page_inner">
            {% include 'partials/alert_messages.html' %}

            <div class="sub-header">
                <h1>{% block checkout_title %}{% endblock %}</h1>
            </div>

            <!-- The main nav on checkout pages contain links to modal flatpages -->
            {% block modal %}
                {% load flatpages %}
                {% get_flatpages '/order/' as flatpages %}
                {% for page in flatpages %}
                <div id="{{ page.title|slugify }}" class="modal hide fade">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>{{ page.title }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="large-content">
                            {{ page.content|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
        </div><!-- /page_inner -->
    </div>
    <script>
        $('.carousel-me').slick();
        function togMe2(){
            var element = document.getElementById("mini-me");
            element.classList.toggle('minimize-me');
            console.log('hello')
        }
    </script>
    {% include "partials/footer_checkout.html" %}
    {% include 'partials/footer.html' %}
{% endblock %}